@using Microsoft.AspNetCore.Identity
@using DataToolKit.Areas.Identity.Data
@using System.Security.Claims;

@inject SignInManager<DataToolKitUser> SignInManager
@inject UserManager<DataToolKitUser> UserManager



<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" id="home" asp-page="/Home/Index">Home</a>
    </li>
@if (SignInManager.IsSignedIn(User))
{

    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="users" asp-page="/Users">Users</a>
        </li>
    }
    <li class="nav-item">
            <form asp-page="/Logout" method="post">
                <button class="nav-link text-dark" type="submit" id="logout">Logout</button>
        </form>
           
    </li>

    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-page="/Account/Account" title="Manage">Hello @User.FindFirst("FirstName")?.Value</a>
    </li>
} 
</ul>
